<div class="wrapper">
<div class="logo-container">
  <img src="assets/images/FashionVibe.png" alt="FashionVibe Logo" class="logo" />
</div>

  <div class="title">Forgot Password</div>
  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-label>Email Address</mat-label>
    <input matInput formControlName="email" type="email" required />
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Enter a valid email</mat-error>
  </mat-form-field>

  <div class="field btn">
  <button mat-flat-button type="submit" class="login-btn">Send Reset Link</button>
</div>

</form>

</div>
