
<div class="dialog-container">
  <div class="dialog-header">
   <img width="48" height="48" src="https://img.icons8.com/fluency/48/checked.png" alt="checked"/>
    <h2>Product added successfully!</h2>
  </div>

<div class="dialog-actions">
  <button mat-flat-button class="primary-btn" (click)="goToCart()">
  <span class="btn-content">
    <img width="25" height="25" src="https://img.icons8.com/comic/100/shopping-cart.png" alt="shopping-cart"/>
    <span>Go to Cart</span>
  </span>
</button>

<button mat-flat-button class="secondary-btn" (click)="addMoreProducts()">
  <span class="btn-content">
    <img width="32" height="32" src="https://img.icons8.com/stickers-duotone/32/add.png" alt="add"/>
    <span>Add More Products</span>
  </span>
</button>
</div>

</div>
