<div class="product-detail-wrapper">
  <mat-card *ngIf="product" class="product-detail-card">
    <div class="product-image-container">
      <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}" />
    </div>
    <mat-card-content class="product-content">
      <h2 class="product-title">{{ product.name }}</h2>
      <p class="product-description">{{ product.description }}</p>
      <h3 class="product-price">₹{{ product.price }}</h3>
      <p class="product-category">Category: {{ product.category }}</p>
      <p class="product-size">Size: {{ product.size }}</p>
    <mat-card-actions>
        <button mat-flat-button class="gradient-button" (click)="addToCart()">
          Add to Cart
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
