@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
 
}

::ng-deep body {  
  background: url('/assets/images/FashionVibeBG.png') no-repeat center center fixed;
  background-size: cover;
}


.wrapper {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 8px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  margin-top: 80px;
}


.logo-container {
  text-align: center;
  margin-bottom: 4px;
}
.logo {
  max-width: 200px;
  height: auto;
  object-fit: contain;
  margin-bottom: -12px;
  margin-top: -14px;
}


.title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #5f2105;
}

mat-form-field {
  margin-bottom: 20px;
}

.field.btn {
  display: flex;
  justify-content: center;
}

.login-btn {
  background: -webkit-linear-gradient(left, #5f2105, #6d3415, #6e3f38, #7e615f);
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
  font-weight: 600;

}

@media (max-width: 768px) {
  .wrapper{
    margin-top: 120px;
  }

  body {
    background-size: cover;
    background-position: center top;
    background-attachment: scroll;
  }
}

@media (max-width: 480px) {
  .wrapper {
    max-width: 90%;
    padding: 16px 12px;
    margin-top: 80px;
  }

  .wrapper .title {
    font-size: 24px;
  }

  .slide-controls .slide {
    font-size: 16px;
  }

  form .btn input[type="submit"] {
    font-size: 18px;
  }
}



