


<h2 class="page-title">Order Management</h2>
<div class="order-container">

<div *ngFor="let order of paginatedOrders" class="order-card">

  <div class="order-header">
    <div>
      <p><strong>Order ID:</strong> {{ order.id }}</p>
      <p><strong>Date:</strong> {{ order.orderDate | date:'medium' }}</p>
    </div>
    
    <div class="status-dropdown">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select [(value)]="order.status" (selectionChange)="updateStatus(order.id, $event.value)">
          <mat-option *ngFor="let status of statuses" [value]="status">{{ status }}</mat-option>
        </mat-select>
        
      </mat-form-field>
    </div>
    <div class="status-badge" [ngClass]="order.status.toLowerCase()">
  {{ order.status }}
</div>

  </div>

  <div class="order-items">
    <div *ngFor="let item of order.items" class="order-item">
      <img [src]="item.product.imageUrl" alt="{{ item.product.name }}" />
      <div class="item-details">
        <p class="product-name">{{ item.product.name }}</p>
        <p>Qty: {{ item.quantity }}</p>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  [length]="orders.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20]"
  (page)="onPageChange($event)"
  showFirstLastButtons>
</mat-paginator>
</div>


